<link href="{{ asset('bundles/cpamgnotif/css/jquery.notific8.css') }}" rel="stylesheet" type="text/css"/>
<script src="{{ asset('bundles/cpamgnotif/js/jquery.notific8.js') }}" language="javascript" type="text/javascript"></script>
<script src="{{ asset('bundles/cpamgnotif/js/jquery.notify.js') }}" language="javascript" type="text/javascript"></script>
<script src="{{ asset('bundles/cpamgnotif/js/SoNotification.js') }}" language="javascript" type="text/javascript"></script>

<div id="sonotifcontainerbundle" style="display:none">
  <div id="basic-template">
      <a class="ui-notify-cross ui-notify-close" href="#">x</a>
      <h1>p{title}</h1>
      <p>p{text}</p>
  </div>
</div>

<script type="text/javascript" language="javascript">
    if (typeof(jQuery) == "undefined") {
        alert("Please, install jquery to use soNotification");
    }
    if (typeof(jQuery) != "undefined" && typeof(jQuery.ui) == "undefined") {
        alert("Please, install jquery ui to use soNotification");
    }
    if (typeof(jQuery) != "undefined" && typeof(jQuery.ui) != "undefined") {

        $(document).ready(function (e) {
            $("#sonotifcontainerbundle").notify();

        });
    }
</script>